/.github/
/.idea/
/sample/
/cache/
/sample-app/
/deploy/
/scripts/
/.gitignore
/.npmignore
/.editorconfig
/.github_changelog_generator
/.travis.yml
/appveyor.yml
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
.DS_Store
Thumbs.db
npm-debug.log
package-lock.json
