<% if (props.ui === 'ionic') { -%>
@import "../../../theme/theme-variables";

[ion-fixed] {
  width: 100%;
  height: 100%;
}

.profile {
  background: color($colors, primary);
}

.profile-icon {
  font-size: 6rem;
  color: color-contrast($colors, primary);

  // Use parent class from outside component context
  // See https://angular.io/guide/component-styles#host-context
  :host-context(.platform-ios) & {
    padding-top: $cordova-ios-statusbar-padding;
  }
}

.profile-button {
  border-color: color-contrast($colors, primary);
  color: color-contrast($colors, primary);
}
<% } -%>
