@import "src/theme/theme-variables";

.sign-up-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $container-color;
}

.sign-up-container,
.sign-up-box,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-box {
  background: #fff;
  padding: 2em;
  border-radius: 0.5em;
}

.container {
  margin-top: 2em;
}

.form-control {
  display: block;
  margin-bottom: 0.5em;
}
