@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.sign-up-container,
.mat-form-field {
  width: 100%;
}

.sign-up-error {
  color: mat-color($app-warn);
}
