<div class="lost-password-container">
  <div class="lost-password-box">
    <h1 translate>Password lost?</h1>
    <div class="container">
      <form (ngSubmit)="renewPassword()" [formGroup]="lostPasswordForm" novalidate>
        <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
          Username or password incorrect.
        </div>
        <label class="form-control">
          <input type="text" formControlName="username" autocomplete="username"
                 [placeholder]="'Username' | translate"/>
          <span hidden translate>Username</span>
          <div [hidden]="lostPasswordForm.controls.username.valid || lostPasswordForm.controls.username.untouched"
                 class="invalid" translate>
            Username is required
          </div>
        </label>
        <button class="form-control" type="submit" [disabled]="lostPasswordForm.invalid || isLoading">
          <span [hidden]="!isLoading" translate>Loading</span>
          <span translate>Renew password</span>
        </button>
      </form>
    </div>
  </div>
</div>
