/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
<% if (props.ui === 'ionic') { -%>
@import "~ionic-angular/themes/normalize";
@import "~ionic-angular/themes/util";

// Ionic components, based on ionic-angular/themes/ionic.components
// Included fixed version here because of https://github.com/ionic-team/ionic/issues/12284
// @import "~ionic-angular/themes/ionic.components";

/* stylelint-disable */
@import
"~ionic-angular/components/action-sheet/action-sheet",
"~ionic-angular/components/action-sheet/action-sheet.ios",
"~ionic-angular/components/action-sheet/action-sheet.md",
"~ionic-angular/components/action-sheet/action-sheet.wp";

@import
"~ionic-angular/components/alert/alert",
"~ionic-angular/components/alert/alert.ios",
"~ionic-angular/components/alert/alert.md",
"~ionic-angular/components/alert/alert.wp";

@import
"~ionic-angular/components/app/app",
"~ionic-angular/components/app/app.ios",
"~ionic-angular/components/app/app.md",
"~ionic-angular/components/app/app.wp";

@import
"~ionic-angular/components/backdrop/backdrop";

@import
"~ionic-angular/components/badge/badge",
"~ionic-angular/components/badge/badge.ios",
"~ionic-angular/components/badge/badge.md",
"~ionic-angular/components/badge/badge.wp";

@import
"~ionic-angular/components/button/button",
"~ionic-angular/components/button/button-icon",
"~ionic-angular/components/button/button.ios",
"~ionic-angular/components/button/button.md",
"~ionic-angular/components/button/button.wp";

@import
"~ionic-angular/components/card/card",
"~ionic-angular/components/card/card.ios",
"~ionic-angular/components/card/card.md",
"~ionic-angular/components/card/card.wp";

@import
"~ionic-angular/components/checkbox/checkbox.ios",
"~ionic-angular/components/checkbox/checkbox.md",
"~ionic-angular/components/checkbox/checkbox.wp";

@import
"~ionic-angular/components/chip/chip",
"~ionic-angular/components/chip/chip.ios",
"~ionic-angular/components/chip/chip.md",
"~ionic-angular/components/chip/chip.wp";

@import
"~ionic-angular/components/content/content",
"~ionic-angular/components/content/content.ios",
"~ionic-angular/components/content/content.md",
"~ionic-angular/components/content/content.wp";

@import
"~ionic-angular/components/datetime/datetime",
"~ionic-angular/components/datetime/datetime.ios",
"~ionic-angular/components/datetime/datetime.md",
"~ionic-angular/components/datetime/datetime.wp";

@import
"~ionic-angular/components/fab/fab",
"~ionic-angular/components/fab/fab.ios",
"~ionic-angular/components/fab/fab.md",
"~ionic-angular/components/fab/fab.wp";

@import
"~ionic-angular/components/grid/grid";

@import
"~ionic-angular/components/icon/icon",
"~ionic-angular/components/icon/icon.ios",
"~ionic-angular/components/icon/icon.md",
"~ionic-angular/components/icon/icon.wp";

@import
"~ionic-angular/components/img/img";

@import
"~ionic-angular/components/infinite-scroll/infinite-scroll";

@import
"~ionic-angular/components/input/input",
"~ionic-angular/components/input/input.ios",
"~ionic-angular/components/input/input.md",
"~ionic-angular/components/input/input.wp";

@import
"~ionic-angular/components/item/item",
"~ionic-angular/components/item/item-media",
"~ionic-angular/components/item/item-reorder",
"~ionic-angular/components/item/item-sliding",
"~ionic-angular/components/item/item.ios",
"~ionic-angular/components/item/item.md",
"~ionic-angular/components/item/item.wp";

@import
"~ionic-angular/components/label/label",
"~ionic-angular/components/label/label.ios",
"~ionic-angular/components/label/label.md",
"~ionic-angular/components/label/label.wp";

@import
"~ionic-angular/components/list/list",
"~ionic-angular/components/list/list.ios",
"~ionic-angular/components/list/list.md",
"~ionic-angular/components/list/list.wp";

@import
"~ionic-angular/components/loading/loading",
"~ionic-angular/components/loading/loading.ios",
"~ionic-angular/components/loading/loading.md",
"~ionic-angular/components/loading/loading.wp";

@import
"~ionic-angular/components/menu/menu",
"~ionic-angular/components/menu/menu.ios",
"~ionic-angular/components/menu/menu.md",
"~ionic-angular/components/menu/menu.wp";

@import
"~ionic-angular/components/modal/modal",
"~ionic-angular/components/modal/modal.ios",
"~ionic-angular/components/modal/modal.md",
"~ionic-angular/components/modal/modal.wp";

@import
"~ionic-angular/components/note/note.ios",
"~ionic-angular/components/note/note.md",
"~ionic-angular/components/note/note.wp";

@import
"~ionic-angular/components/picker/picker",
"~ionic-angular/components/picker/picker.ios",
"~ionic-angular/components/picker/picker.md",
"~ionic-angular/components/picker/picker.wp";

@import
"~ionic-angular/components/popover/popover",
"~ionic-angular/components/popover/popover.ios",
"~ionic-angular/components/popover/popover.md",
"~ionic-angular/components/popover/popover.wp";

@import
"~ionic-angular/components/radio/radio.ios",
"~ionic-angular/components/radio/radio.md",
"~ionic-angular/components/radio/radio.wp";

@import
"~ionic-angular/components/range/range",
"~ionic-angular/components/range/range.ios",
"~ionic-angular/components/range/range.md",
"~ionic-angular/components/range/range.wp";

@import
"~ionic-angular/components/refresher/refresher";

@import
"~ionic-angular/components/scroll/scroll";

@import
"~ionic-angular/components/searchbar/searchbar",
"~ionic-angular/components/searchbar/searchbar.ios",
"~ionic-angular/components/searchbar/searchbar.md",
"~ionic-angular/components/searchbar/searchbar.wp";

@import
"~ionic-angular/components/segment/segment",
"~ionic-angular/components/segment/segment.ios",
"~ionic-angular/components/segment/segment.md",
"~ionic-angular/components/segment/segment.wp";

@import
"~ionic-angular/components/select/select",
"~ionic-angular/components/select/select.ios",
"~ionic-angular/components/select/select.md",
"~ionic-angular/components/select/select.wp";

@import
"~ionic-angular/components/show-hide-when/show-hide-when";

@import
"~ionic-angular/components/slides/slides";

@import
"~ionic-angular/components/split-pane/split-pane",
"~ionic-angular/components/split-pane/split-pane.ios",
"~ionic-angular/components/split-pane/split-pane.md",
"~ionic-angular/components/split-pane/split-pane.wp";

@import
"~ionic-angular/components/spinner/spinner",
"~ionic-angular/components/spinner/spinner.ios",
"~ionic-angular/components/spinner/spinner.md",
"~ionic-angular/components/spinner/spinner.wp";

@import
"~ionic-angular/components/tabs/tabs",
"~ionic-angular/components/tabs/tabs.ios",
"~ionic-angular/components/tabs/tabs.md",
"~ionic-angular/components/tabs/tabs.wp";

@import
"~ionic-angular/components/toast/toast",
"~ionic-angular/components/toast/toast.ios",
"~ionic-angular/components/toast/toast.md",
"~ionic-angular/components/toast/toast.wp";

@import
"~ionic-angular/components/toggle/toggle.ios",
"~ionic-angular/components/toggle/toggle.md",
"~ionic-angular/components/toggle/toggle.wp";

@import
"~ionic-angular/components/toolbar/toolbar",
"~ionic-angular/components/toolbar/toolbar-button",
"~ionic-angular/components/toolbar/toolbar.ios",
"~ionic-angular/components/toolbar/toolbar.md",
"~ionic-angular/components/toolbar/toolbar.wp";

@import
"~ionic-angular/components/typography/typography.ios",
"~ionic-angular/components/typography/typography.md",
"~ionic-angular/components/typography/typography.wp";

@import
"~ionic-angular/components/virtual-scroll/virtual-scroll";

@import
"~ionic-angular/platform/cordova",
"~ionic-angular/platform/cordova.ios",
"~ionic-angular/platform/cordova.md",
"~ionic-angular/platform/cordova.wp";

@import
"~ionic-angular/fonts/noto-sans",
"~ionic-angular/fonts/roboto";
/* stylelint-enable */
<% } else if (props.ui === 'bootstrap') { -%>
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
<% } else if (props.ui === 'material') { -%>
@import "~material-design-icons/iconfont/material-icons.css";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
<% } else if (props.ui === 'raw') { -%>
// Add your UI libraries here
<% } -%>

// Theme customization
@import "theme/theme";
