@import "~@ionic/angular/dist/themes/ionic.globals";

ion-grid,
ion-row {
  min-height: 100%;
  flex: 1;
}

.login-header,
.login-background {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

ion-select {
  color: var(--ion-color-primary-contrast);

  --icon-color: var(--ion-color-primary-contrast);
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}

.login-container {
  background-color: var(--ion-background-color);

  ion-item {
    @include padding-horizontal(var(--ion-content-margin), var(--ion-content-margin));
  }
}

