<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
    </p>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q>
      </mat-card-subtitle>
<% if (props.angulartics) { -%>
      <mat-card-actions>
        <button
          mat-raised-button
          angulartics2On="click"
          angularticsAction="Click button below quote"
          [angularticsCategory]="quote">
          Click me to send an Analytics event
        </button>
      </mat-card-actions>
<% } -%>
    </mat-card-content>
  </mat-card>
</div>
