<% if (props.ui === 'material') { -%>
.container {
  text-align: center;
  padding: 1em;
}

<% } -%>
.logo {
<% if (props.ui === 'bootstrap') { -%>
  width: 100px;
<% } else { -%>
  width: 150px;
  margin: 0 auto;
<% } -%>
}

q {
  font-style: italic;
<% if (props.ui === 'bootstrap') { -%>
  font-size: 1.2rem;
<% } -%>
  quotes: "« " " »";
}
