@import "src/theme/theme-variables";

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  background: $accent-color;
  color: #fff;
}

.brand {
  margin-right: 1em;
  font-size: 1.7em;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-item {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

.spacer {
  flex: 1;
}

.logout {
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
  text-align: center;
  font-size: 0.75em;
}
